.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .accountName {
    margin: auto 0;
    .input {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }
}
