.todoList {
  .todoItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    p {
      &[data-done="true"] {
        text-decoration: line-through;
        opacity: 50%;
      }
    }
  }
}
