.profileSettingsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
  }
}
